.*
!.gitignore
!.gitattributes
!.editorconfig

# Java files
*.class
*.jar

# Gradle files
.gradle
build
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA files
*.iml
!.idea
.idea/compiler.xml
.idea/dictionaries/
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/modules.xml
.idea/runConfigurations.xml
.idea/uiDesigner.xml
.idea/vcs.xml

# GitHub files
!.github
